@tailwind base;
@tailwind components;
@tailwind utilities;

:root { font-family: 'Pretendard', sans-serif; }
body { margin: 0; -webkit-font-smoothing: antialiased; }
.snap-y { scroll-snap-type: y mandatory; }
.snap-start { scroll-snap-align: start; }
.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
